<div class="container-fluid">
  <h1><%= @track['name'] %></h1>

  <ul>
    <div class="row track-panel z-depth-1">
      <div class="track-photo col-md-2">
        <%= image_tag(@track['album']['images'][0]['url']) %>
      </div>
      <div class="track-details col-md-4">
        <div class="row">
          Title: <%= @track['name'] %>
        </div>
        <div class="row">
          Artist: <%= @track['artists'][0]['name'] %>
        </div>
        <div class="row">
          From the Album: <%= @track['album']['name'] %>
        </div>
      </div>
      <div class="track-analytics col-md-4">
        <div class="row">
          Popularity: <%= @track['popularity'] %>
        </div>
        <div class="row">
          Number of playlists containing this song
        </div>
      </div>
    </div>
  </ul>
</div>