<div class="container-fluid">
  <h1><%= @playlist_title %></h1>

  <% @playlist.each do |track_object| %>
    <div class="row track-panel z-depth-1">
      <div class="track-photo col-md-2">
        <%= link_to image_tag(track_object['track']['album']['images'][0]['url']),
        track_path(track_object['track']['id']) %>
      </div>
      <div class="track-details col-md-3">
        <div class="row">
          Title: <%= track_object['track']['name'] %>
        </div>
        <div class="row">
          Artist: <%= track_object['track']['artists'][0]['name'] %>
        </div>
        <div class="row">
          From the Album: <%= track_object['track']['album']['name'] %>
        </div>
        <div class="row">
          Added To This Playlist: <%= time_ago_in_words(track_object['added_at']) + " ago" %>
        </div>
        <div class="row">
          Album Release Date:
        </div>
      </div>
      <div class="track-analytics col-md-3">
        <div class="row">
          Popularity: <%= track_object['track']['popularity'] %>
        </div>
        <div class="row">
          Other playlists containing this song:
        </div>
      </div>
    </div>
  <% end %>
</div>